<h1>父親猫の新規登録</h1>

<div class="nav justify-content-end">
  <%= link_to '一覧に戻る', father_pets_path, class: 'btn btn-primary' %>
</div>

<%= form_with(model: @father_pet, url: father_pets_path, method: :post) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :color %>
        <%= form.text_field :color %>
    </div>

    <div>
        <%= form.label :birthday %>
        <%= form.date_field :birthday %>
    </div>

    <div>
        <%= form.label :image_path %>
        <%= form.text_field :image_path %>
    </div>

    <div>
        <%= form.label :memo %>
        <%= form.text_area :memo %>
    </div>

    <div>
        <%= form.submit '登録' %>
    </div>
<% end %>
